doctype html
html
  head
    meta(charset='utf-8')      
    title Checkers
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #red.player
    #blue.player.active
    table
      tr.row1
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
        td.white
      tr.row2
        td.white
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
      tr.row3
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
        td.white
        td.black
          .piece.piecered
        td.white
      tr.row4
        td.white
        td.black
        td.white
        td.black
        td.white
        td.black
        td.white
        td.black
      tr.row5
        td.black
        td.white
        td.black
        td.white
        td.black
        td.white
        td.black
        td.white
      tr.row6
        td.white
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue
      tr.row7
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue
        td.white
      tr.row8
        td.white
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue
        td.white
        td.black
          .piece.pieceblue


    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
